<%- contentFor('bodyType') %>

<body class="">
    <%-contentFor('navOptions') %>
    <%-'<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>'%>
    <% if(user){ %>
    <%- '<li class="nav-item"><a class="nav-link" href="/profile">Perfil</a></li>' %>
    <% } else { %>
    <%- '<li class="nav-item"><a class="nav-link" href="/ingresar">Ingresa</a></li>' %>
    <% } %>
    <%- contentFor('body') %>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <% if(user){ %>
                        <%- '<h3>'+user.nombre+'</h3>' %>
                        <% }else{ %>
                        <%- 'Ingresa ahora' %>
                        <% } %>
                    </div>
                    <div class="row">
                        <div class="col">
                            <% if(user){ %>
                            <%- '<button class="btn btn-rose btn-lg btnUpload">Subir imagen</button>' %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="imgContainer mt-1 mb-1 mr-1 ml-1">
                            <% imgList.map(img => {%>
                            <%- `<div class="imgWr cardImg mt-0 mb-0" href="/images/uploaded_images/${img.foto}"><img class="imgC" src="/images/uploaded_images/${img.foto}" style="grid-column: auto/span 2"></div>`%>
                            <% }) %>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>