<%- contentFor('bodyType') %>

<body class="profile-page">
    <%- contentFor('navOptions') %>
    <%- '<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>' %>
    <%- contentFor('body') %>
    <%- '<'+'div class="page-header header-filter clear-filter parallax" style="background-image: url('+ "/images/uploaded_images/"+ bg +');background-attachment: inherit;background-repeat: round;" data-parallax="true"></div>'%>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="profile main main-raised">
                    <div class="avatar">
                        <%- '<' + 'img src="/images/uploaded_images/'+imgP+'" alt="not-found" class="img-raised rounded-circle img-fluid profimg">' %>
                    </div>
                    <div class="name">
                        <h3>
                            <%= user.nombre + ' ' + user.apellidos %>
                        </h3>
                        <h5>
                            <%= user.username %>
                        </h5>
                    </div>
                    <div class="follow">
                        <!--<button class="btn btn-fab btn-rose btn-round btn_follow">
                            <i class="material-icons">add</i>
                            <div class="ripple-container"></div>
                        </button> -->
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="nav nav-pills nav-pills-rose flex-column mb-3">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#imagenes" data-toggle="tab">Imagenes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#datos" data-toggle="tab">Editar perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btnLogout" href="#" data-toggle="tab">Cerrar
                                        sesión</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="main main-raised">
                    <div class="container">
                        <!-- Imagenes del usuario -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="imagenes">
                                <div class="card card-nav-tabs card-plain">
                                    <div class="card-header card-header-rose">
                                        <div class="nav-tabs-navigation">
                                            <div class="nav-tabs-wraper">
                                                <ul class="nav nav-tabs justify-content-center" data-tabs="tabs">
                                                    <li class="nav-item"><a class="nav-link active" href="#subidas"
                                                            data-toggle="tab">Mis imagenes</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="#mg" data-toggle="tab">Seguidores</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="subidas">
                                                <div class="imgContainer mt-1 mb-1 mr-1 ml-1">
                                                    <% imgList.map(img => {%>
                                                    <%- `<div class="imgWr cardImg mt-0 mb-0 rounded" href="/images/uploaded_images/${img.foto}"><img class="imgC rounded" src="/images/uploaded_images/${img.foto}" style="grid-column: auto/span 2"></div>`%>
                                                    <% }) %>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="mg">
                                                <div class="section pt-1 pb-1">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h3 class="fLabel">Personas que te siguen</h3>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <% followers.map(user =>{ %>
                                                        <%- '<div class="col-md-6"><div class="card pt-1"><img class="align-self-center f_img rounded-circle img-fluid card-img-top" src="/images/uploaded_images/'+user.fp_follower+'" alt="Generic placeholder image"><div class="media-body text-center"><h4>'+user.nombre+'</h4><p>'+user.follower+'</p></div></div></div>'%>
                                                        <% }) %>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h3 class="fLabel">Personas a las que sigues</h3>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <% following.map(user =>{ %>
                                                        <%- '<div class="col-md-6"><div class="card pt-1"><img class="align-self-center f_img rounded-circle img-fluid card-img-top" src="/images/uploaded_images/'+user.fp_follower+'" alt="Generic placeholder image"><div class="media-body text-center"><h4>'+user.nombre+'</h4><p>'+user.follower+'</p></div></div></div>'%>
                                                        <% }) %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="datos">
                                <!-- Editar datos del usuario -->
                                <div class="section">
                                    <div class="editarPerfil">
                                        <div class="row">
                                            <div class="col">
                                                <ul class="nav nav-pills nav-pills-rose nav-pills-icons justify-content-center"
                                                    role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" role="tab" data-toggle="tab" href="#">
                                                            <i class="material-icons" data-toggle="modal" data-target="#updateProf">add_a_photo</i>
                                                            Cambiar foto de perfil
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" role="tab" data-toggle="tab" href="#">
                                                            <i class="material-icons" data-toggle="modal" data-target="#updateBg">panorama</i>
                                                            Cambiar foto de fondo
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="updateProf" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Actualiza tu foto de perfil</h2>
                        </div>
                        <div class="modal-body">
                            <form class="formUploadProf" enctype="multipart/form-data">
                                <input type="file" name="updateProf" required>
                                <button class="btn btn-rose btn-lg btnUpload mt-5">Subir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="updateBg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Actualiza tu foto de fondo</h2>
                        </div>
                        <div class="modal-body">
                            <form class="formUploadBg" enctype="multipart/form-data">
                                <input type="file" name="updateBg" required>
                                <button class="btn btn-rose btn-lg btnUpload mt-5">Subir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>